[submodule "src/libyuv"]
	path = src/libyuv
	url = https://github.com/frankpapenmeier/libyuv.git
	branch = webcam-capture-driver-native
[submodule "src/video-capture-library"]
	path = src/video-capture-library
	url = https://github.com/cosium/video-capture-library.git
	branch = feature/windows-multiple-streams
